.main {
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 40px rgb(28, 28, 28);
  width: 500px;
  margin-top: 5%;
  z-index: 9;
}


#chats {
  flex: 1;
  margin: 8px;
  overflow-y: auto;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  background-color: white;
  position: relative;
}
#emblem{
  position: absolute;
  top: 15%;
  right: 20%;
  z-index: 0;
  height: 300px;
  width: 300px;
}

.message {
  max-width: 80%;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  z-index: 2;
}


.first {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}




.user {
  align-self: flex-end;
  box-shadow: 0px 0px 8px #1295D8;
  border: 1.5px solid #1295D8;
  border-bottom-right-radius: 0px;
  line-height: 22px;
  font-size: 15px;
  color: rgb(60, 60, 60);
  background-color: white;
}

.chatbot {
  align-self: flex-start;
  color: black;
  box-shadow: 0px 0px 8px #ffbb63;
  border: 1.5px solid #ffbb63;
  border-bottom-left-radius: 0px;
  line-height: 22px;
  font-size: 15px;
  color: rgb(60, 60, 60);
  background-color: white;
}


.input-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 0 8px 8px 8px;
  height: 100px;
  justify-content: space-around;
}

#inputText {
  flex: 1;
  border: none;
  resize: none;
  outline: none;
  height: 80px;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 22px;
  padding: 10px 0 10px 10px;
}
#inputText:focus {
  border: 2px solid #1295D8;
}

#submitButton {
  border: none;
  outline: none;
  background-color: #1295D8;
  color: white;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 0 8px;
}

#submitButton:hover {
  background-color: #f8fc00;
  color: black;
}


.char-counter {
  font-size: 14px;
  color: #848484;
  margin-top: 5px;
  margin-bottom: 6px;
  margin-left: 2px;
}


/* LOADER ANIMATIONS */

.thinking .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.thinking .loader div {
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 2px;
  animation: jump 1s infinite ease-in-out;
}

.thinking .loader div:nth-child(1) {
  animation-delay: 0s;
}

.thinking .loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.thinking .loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-8px);
  }

  60% {
    transform: translateY(-4px);
  }
}


/* /////////////////////////////////////////////////////// */

@media (max-width: 1100px) {
  .main {
    width: 450px;
    box-shadow: 0 0 50px rgb(28, 28, 28);

  }
    
}


@media (max-width: 1010px) {
  .main {
    width: 425px;
    box-shadow: 0 0 50px rgb(28, 28, 28);

  }
  
}

@media (max-width: 800px) {
  .main {
    width: 100%;
    height: 55vh;
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    height: 55vh;
    margin-top: 0%;

  }
}