.page1 {
    height: 100vh;
    display: flex;
    background-color: white;
    background: linear-gradient(to bottom right, #0032bb, #ff8ef4bd); 
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
}

.half1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.content1, .content2 {
    padding: 5%;
}
.content1{
    display: flex;
    flex-direction: column;
}
#chatHeader{
    float: end;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

#message {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    float: left;
    color: white;
}

#mainHeading {
    float: left;
    clear: both;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    color: white;
}
#emblem {
    width: 350px;
    height: auto;
}

.half1 {
    justify-content: space-between;
    align-items: center;
}
.half2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

.powered{
    color: black;
    position: relative;
    top: 6%;
    font-size: 14px;
    font-weight: 500;
}