.main2{
    height: 100vh;
    background-color: white;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topHalf{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bottomHalf {
    display: flex;
    margin-top: 2%;
}

.formContainer {
    background-color: black;
    border-radius: 10px;
    width: 50%;
}
.reasons{
    list-style: none;
    margin-left: 20%;
}

#perfects{
    font-style: italic;
}

.reviewForm{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 20px rgb(155, 155, 155);
    border-radius: 10px;   
}

.numContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.numContainer > h3{
    margin-top: 6px;
    letter-spacing: 0.5px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.numSpan{
    display: inline-block;
    width: 40px; /* Adjust the width */
    height: 40px; /* Adjust the height */
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px; /* Should match the height for vertical centering */
    background: linear-gradient(to bottom right,#0032bb, #ff12e7); 
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600; /* Adjust the font-weight */
    font-size: 36px; /* Adjust the font-size */
    margin-right: 10px;
}
#perfect{
    color: black;
    font-size: 40px;
    font-weight: 600;
}
#perfect > span{
    background: linear-gradient(to bottom right,#0032bb, #ff12e7); 
    -webkit-background-clip: text;
    color: transparent;
    font-style: italic;
    font-size: 46px;
}
.metrics{
    margin: 16px 0 30px 0;
    color: black;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}
#essay{
    height: 160px;
    width: 80%;
    border: 1.75px solid rgb(110, 110, 110);
    padding: 10px;
    margin: 10px 0px 20px 0px;
}


select{
    width: 84%;
    margin: 10px 0px 20px 0px;
    border: 1.75px solid rgb(159, 159, 159);
    padding: 5px;
    color: black;
}
#getFeedback{
    font-size: 18px;
    margin: 10px 0px 0px 0px;
    width: fit-content;
    padding: 8px 30px;
    color: white;
    background-color: rgb(0, 210, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
}
#getFeedback:hover{
    background-color: rgb(0, 195, 0);
}
