.main2{
    height: 110%;
    background-color: #2a303c;
    padding: 40px 110px 0px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topHalf{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.bottomHalf {
    display: flex;
}


.reviewForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(220, 223, 227);
    border-radius: 10px; 
    width: 500px;
}

h3{
    margin-top: 6px;
    font-size: 20px;
    color: #2a303c;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#perfect{
    font-size: 36px;
    background: linear-gradient(to bottom right, #6b93ff, #fcff46d2);
    -webkit-background-clip: text;
    color: transparent;
}

.metrics{
    margin: 16px 0 70px 0;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
    width: 100%;
}
#essay{
    height: 160px;
    width: 80%;
    padding: 10px;
    margin: 10px 0px 6px 0px;
    border-radius: 10px;
    background-color: transparent;
    border: 1.5px solid #2a303c;
    color: #2a303c;
}
#essay:focus{
    outline: none;
    border: 2px solid #2a303c;
}
#essay::placeholder{
    color: #727a89;
}
.totalWords{
    position: relative;
    top: 0;
    left: 148px;
    font-size: 14px;
    color: #2a303cda;
}

select{
    width: 84%;
    margin: 10px 0px 20px 0px;
    border: 1.5px solid #2a303c;
    padding: 5px;
    color: black;
    border-radius: 10px;
    background-color: transparent;
    color: #2a303c;
}
select:focus{
    outline: none;
    border: 2px solid #2a303c;
}

#getFeedback{
    font-size: 14px;
    margin: 10px 0px 0px 0px;
    width: fit-content;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    background-color: transparent;
    color: rgb(0, 199, 0);
    border: 1.75px solid rgb(0, 218, 0);
    box-shadow: 0 0 10px rgba(0, 201, 0, 0.754);
    font-weight: 500;
    letter-spacing: 1px;
}
#getFeedback:hover{
    box-shadow: none;
}
.reasons{
    margin-left: 8%;
}
.reasonsCheck{
    display: flex;
    margin-top: 5%;
    align-items: center;
    margin-top: 8%;
}
.check{
    font-size: 40px;
    margin-right: 20px;
}

.checkPara{
    font-size: 20px;
    font-weight: 500;
    color: rgb(220, 220, 220);
    width: 500px;
    line-height: 32px;
}

.bold{
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 1px;
    border-bottom: 2px solid  #fcff57;
}

  
.loading-spinner {
    border: 6px solid rgb(88, 88, 88);
    border-top: 6px solid rgb(123, 123, 255);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.footer{
    width: fit-content;
    height: 6vh;
    background-color: #404a5f;
    margin-top: 12%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerButton{
    outline: none;
    padding: 6px;
    font-size: 16px;
    transition: background-color 0.5s ease;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 30px;
}
.footerButton:hover{
    background-color: rgb(166, 166, 166);

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media (max-width: 1010px) {
    .topHalf{
        width: 120%;
        text-align: center;
    }
    .bottomHalf {
        flex-direction: column;
        align-items: center;
    }   
    .reviewForm{
        width: 60%;
        height: 50%;
    }
    .reasons{
        width: 90%;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .reasonsCheck{
        display: flex;
        align-items: center;
        margin-top: 8%;
        justify-content: center;
    }
}