.successMain{
    height: 100vh;
    background-color: #2a303c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18%;
}
.emojis{
    margin-top: 26%;
    font-size: 30px;
    display: flex;
    margin-bottom: 10px;
}
.emojis > p{
    margin: 0 14px;
}

.successMain > h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


.thankYouPara{
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;

}

.successMain > button{
    background-color: white;
    color: #2a303c;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.successMain > button:hover{
    background-color: rgb(217, 212, 255);
}
