.mainPurchase {
    height: 90vh;
    background-color: #2a303c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px 50px 50px;
}

.buyCredits {
    font-size: 36px;
    background: linear-gradient(to bottom right, #6890ff, #fdff6f);
    -webkit-background-clip: text;
    color: transparent;
}
.aut{
    font-size: 16px;;
}

.quote {
    margin: 16px 0 50px 0;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    width: 60%;
    margin-bottom: 20px;
}
.quoteIcon{
    margin: 6px 10px;
    font-size: smaller;
}
.cards {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin-top: 40px;
}

#card1,
#card2 {
    color: #2a303c;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin: 0 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
}

.money {
    font-size: 42px;
    font-weight: 700;
    color: #2a303c;
    margin-bottom: 20px;
}
.buyPara{
    font-size: 14px;
    margin-bottom: 20px;
}

.buyButton {
    background-color: #2a303c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buyButton:hover {
    background-color: #1c1f25;
}

.alert{
    width: 60%;
    background-color: #FBBD23;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 90px;
    font-size: 14px;
}
#dangerCircle{
    margin-right: 10px;
}
.alert > button{
    color: rgb(10, 14, 255);
    background-color: transparent;
    border: none;
    font-size: 14px;
    border-bottom: 1.5px solid rgb(10, 14, 255);
    font-weight: bold;
}

.alert > button:hover{
    cursor: pointer;
    color: white;
    border-bottom: 1.5px solid white;
}