.mainPurchase {
    height: 100vh;
    background-color: #2a303c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.buyCredits {
    font-size: 36px;
    background: linear-gradient(to bottom right, rgb(163, 163, 255), pink);
    -webkit-background-clip: text;
    color: transparent;
}

.quote {
    margin: 16px 0 50px 0;
    color: white;
    text-align: center;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
    width: 70%;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin-top: 40px;
}

#card1,
#card2 {
    color: #2a303c;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.money {
    font-size: 46px;
    font-weight: 700;
    color: #2a303c;
    margin-bottom: 20px;
}
.buyPara{
    font-size: 18px;
    margin-bottom: 20px;
}

.buyButton {
    background-color: #2a303c;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buyButton:hover {
    background-color: #1c1f25;
}

.alert{
    width: 50%;
    background-color: #FBBD23;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 90px;
}
#dangerCircle{
    margin-right: 10px;
}