.page1 {
    height: 100vh;
    display: flex;
    background-color: #2a303c;
    display: flex;
    justify-content: center;
}
.page1inside{
    background: linear-gradient(to bottom right, #113494, #bfc554);
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
.filler{
    width: 80%;
    height: 60%;
    background: linear-gradient(to bottom right, #0044ff, #fbff00);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
    margin-top: 10%;
}
.half2{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center; 
}

.content1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}

#chatHeader{
    float: end;
    margin-top: 16px;
    color: white;
    width: 90%;
    color: white;
    font-weight: 500;
    line-height: 28px;
    font-size: 20px;
}

#message {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    float: left;
    color: white;
}

#mainHeading {
    float: left;
    clear: both;
    font-size: 44px;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 600;
}
#emblem {
    width: 350px;
    height: auto;
}



.powered{
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: 20px;
}

@media (max-width: 800px) {
    .page1inside{
        flex-direction: column;
    }
    .content1 {
        margin-top: 6%;
    }
    .filler{
        margin-top: 12%;
    }
    
}