.navbar{
    position: fixed;
    padding: 20px;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.credits{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    margin:8px 0px;
    padding: 0 14px 0 14px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}


.buyMore {
    position: absolute;
    left: 130px;
    font-weight: 500;
    font-size: 16px;
    color: rgb(245, 245, 245);
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgb(245, 245, 245);
    cursor: pointer;
    padding-bottom: 1px;
}
.buyMore:hover, .buyMoreNav:hover{
    border-bottom: none;
}
.buyMoreNav{
    font-weight: 500;
    font-size: 16px;
    color: rgb(245, 245, 245);
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgb(245, 245, 245);
    cursor: pointer;
    padding-bottom: 1px;
}


.signIn{
    margin-right: 8%;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    letter-spacing: 1px;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.signIn:hover{
    background-color: rgb(38, 38, 38);
    cursor: pointer;
}

#google{
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 1px;
}

.profile {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    justify-content: end;
    width: fit-content;
    padding: 10px;
    margin-right: 16px;
}

.profile:hover{
    cursor: pointer;
}
.termsButton{
    color: white;
}

#profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.infoContainer{
    text-align: left;

}

.smallText{
    font-size: 10px;
    color: rgb(196, 196, 196);
}

/* POPUP BUTTON */
.profile-popup {
    position: absolute;
    width: 174px;
    height: 30px;
    top: 80px;
    margin-right: -10px;
    background-color: black;
    border-radius: 8px;
    z-index: 11;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px;
}
.profile-popup:hover{
    cursor: auto;
}

.profile-popup button {
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #F87171;
    width: 100%;
    text-align: left;
    padding: 6px 0px 6px 14px;
}

.profile-popup button:hover {
    background-color: rgb(67, 67, 67);
}

#goBack{
    color: white;
    background-color: black;
    border: none;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin: 10px;
}
#leftArrow{
    margin-right: 10px;
}
#goBack:hover{
    cursor: pointer;
    background-color: #2a303c;
}