.navbar{
    position: fixed;
    padding: 20px;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: end;
}

.signIn{
    margin-right: 8%;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    letter-spacing: 1px;
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(106, 106, 106)
}

.signIn:hover{
    background-color: rgb(66, 66, 66);
    cursor: pointer;
    box-shadow: none;
}

.profile {
    display: flex;
    align-items: center;
    margin-right: 6%;
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 255, 255);
    justify-content: end;
    width: fit-content;
    padding: 10px;
}

.profile:hover{
    cursor: pointer;
}

#profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.infoContainer{
    text-align: left;

}

.smallText{
    font-size: 10px;
    color: rgb(196, 196, 196);
}

/* POPUP BUTTON */
.profile-popup {
    position: absolute;
    width: 174px;
    height: 30px;
    top: 80px;
    right: 8%;
    background-color: black;
    border-radius: 8px;
    z-index: 11;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px;
}
.profile-popup:hover{
    cursor: auto;
}

.profile-popup button {
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #F87171;
    width: 100%;
    text-align: left;
    padding: 6px 0px 6px 14px;
}

.profile-popup button:hover {
    background-color: rgb(90, 90, 90);
}